@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
:root{
    background-color: #e4e6fa;
}
body{
    display: grid;
    grid-template-rows: 175px 4fr 59px;
    grid-template-columns: 20% 80%;
    margin: 0px;
    font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
}
a:hover, button:hover{
    opacity: 80%;
}
#entire-left-sidebar{
    background-color: #4856f4;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 85px 70%;
    padding-top: 15px;
    padding-left: 25px;
}
#main-icon{
    height: 40px;
    width: 40px;
}
#title{ /* dogdash main title*/
    height: 60px;
    font-size: x-large;
}
.left-sidebar{
    display: grid;
    grid-template-rows: repeat(10, 40px);
}
#entire-left-sidebar>div>a{
    color: white;
    text-decoration: none;
    height: 40px;
}
#sidebar-divider{
    min-height: 20px;
    max-height: 20px;
}

.sidebar-icons{
    filter: invert(1);
    height: 30px;
    width: 30px;
    padding-right: 8px;
    position: relative;
    top: 10px;
}

/*   */


#header{
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 80px 80px;
    grid-template-columns: 4fr 75px 75px 200px;
}
#entire-search-bar{
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    position: relative;
    left: 50px;
}
#search-picture{
    height: 25px;
    width: 25px;
}
#notification{
    grid-column: 3 / 4;
    display: grid;
    align-items: center;
}
#notification-picture{
    height: 30px;
    width: 30px;
}
#user{
    position: relative;
    top: 2px;
}
#user>a{
    position: relative;
    top: -14px;
    right: -5px;
}
#icon-picture{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
}
#header-greeting{
    display: grid;
    grid-template-columns: 90px auto;
    position: relative;
    left: 20px;
    top: 2px;
}
#icon-picture-large{
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
}
#icon-picture-large:hover{
    height: 65px;
    width: 65px;
}
#header-buttons{
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}
#header-buttons>button{
    background-color: #4856f4;
    color: white;
    border: none;
    border-radius: 12px;
    margin: 10px;
    height: 30px;
    width: 80px;
    font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

/*   */

#main-content{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 10px;
}
#projects-grid{
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: 50% 50%;
    margin: 10px;
    position: relative;
    top: -11px;
}
#project-title{
    grid-column: 1 / 3;
    
}
.outer-title{
    font-weight: 400;
}
.project{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 7px;
    border-left: 7px solid #fdc86c;
    display: grid;
    grid-template-rows: 1.5em auto 30px;
}
.inner-title{
    font-weight: 300;
}
.project-icon-holder{ /* heart eye link in each project */
    display: grid;
    grid-template-columns: auto 30px 27px 30px;
}
.heart{
    grid-column: 2 / 3;
}
.project-icons{
    height: 20px;
    width: 20px;
    padding: 4px;
}
.project-icons:hover{
    height: 21px;
    width: 21px;
}
#announcements, #trending{
    background-color: white;
    border-radius: 7px;
    display: grid;
}
#announcements{
    padding: 20px;

}
#trending{
    padding: 15px;
}
.trending-holder{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 25px 25px;
}
.trending-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-items: center;
}
.trending-at, .trending-description{
    grid-column: 2 / 3;
    position: relative;
    top: -20px;
}
.trending-at{
    font-weight: 300;
}
.side-hr{
    grid-column: 1 / 3;
}
.side-hr>hr{
    background-color: grey;
    height:1px;
    border-width: 0;
    margin-bottom: 18px;
}
/*   */

#source{
    text-align: center;
}